/* ------------Resolução abaixo de 900px ---------------*/
@media (max-width: 900px) {
    .imagem-banner {
        /* Aumenta ligeiramente a escala da imagem */
        height: 100vh;
        /* Ocupa mais altura do ecrã */
        object-fit: cover;
        /* Garante que a imagem preenche bem sem distorcer */

    }

    .banner-conteudo {
        top: 55%;
        /* Ajusta o texto para não ficar demasiado em cima */
        padding: 0 1rem;
    }

    .h1,
    h1 {
        font-size: 3rem;
    }

}


/* ------------Resolução abaixo de 650px ---------------*/
@media (max-width: 650px) {

    .h1,
    h1 {
        font-size: 2rem;
    }

  
}